<h1>Contacts</h1>

<% if not @contacts.empty? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <% if current_user %>
          <th></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= link_to contact.name, contact %></td>
          <td><%= contact.email %></td>
          <% if current_user %>
            <td>
              <%= link_to 'Edit', edit_contact_path(contact) %>
              <%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    No contacts found.
  </p>
<% end %>

<% if current_user %>
  <div>
      <%= link_to 'New Contact', new_contact_path %>
  </div>
<% end %>
