<p id="notice"><%= notice %></p>

<h1><%= @contact.name %></h1>

<p>
  <%= @contact.email %>
</p>

<div>
  <%= link_to 'Edit', edit_contact_path(@contact) %> |
  <%= link_to 'Back', contacts_path %>
</div>
