<%= form_for(@news_release) do |f| %>
  <% if @news_release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news_release.errors.count, "error") %> prohibited this news_release from being saved:</h2>

      <ul>
      <% @news_release.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :released_on, 'Date' %><br>
    <%= f.text_field :released_on %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
