<!DOCTYPE html>
<html>
<head>
  <title>ContactsRspec3Rails41</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    <% ('A'..'Z').each do |letter| %>
      <%= link_to_unless_current letter, contacts_path(letter: letter), class: 'btn' %>
    <% end %>
    <%= link_to 'All', contacts_path, class: 'btn' %>
  </div>

  <%= yield %>

</body>
</html>
